blog/templates/main_page.html
 Hello world
<br>
{{pst}}

<br>
{% for post in pst %}
    <a href="/post/{{post.id}}">
        <h1> {{ post.title }} </h1>
    </a>
         {{ post.text }}
    <br>
{% endfor %}

{% if user.is_authenticated %}
    <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% else %}
    для создания постов авторизуйтесь
{% endif %}
{{user.username}}
